<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izmir Rexhepi | Games Programmer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section id="home-section" class="home-section">
        <div class="slideshow-background">
            <img id="slide" class="slideshow-image" src="/imgs/project1.png" alt="Slide">
        </div>

        <div id="home-section-container" class="home-section-container">
            <div class="heading-line">
                <h1 class="heading-line-1">Hello, I'm <span>Izmir</span>.</h1>
                <p class="heading-line-2">A passionate game programming student with expertise in Computer Science.</p>
            </div>
            <button id="viewWorkBtn" class="viewWorkBtn">View my work</button>
        </div>
    </section>
    <header class="animate__animated animate__fadeIn">
        <nav class="navigation-bar">
            <ul>
                <li id="li-home-section">Home</li>
                <li id="li-about-section">About</li>
                <li id="li-projects-section">Projects</li>
            </ul>
        </nav>
    </header>
    <section id="about-section" class="about-section">
        <h2>About</h2>
        <div class="about-content">
            <div class="profile profile__fade-in">
                <div class="profile-picture">
                    <img src="./imgs/profile.jpg" alt="Profile picture">
                </div>
                <p class="profile-description">Fueled by a passion for creativity and technology, I’m a game programmer who loves crafting interactive and immersive experiences. The combination of problem-solving, collaboration, and continuous discovery keeps me inspired and motivated. Outside of programming, I enjoy playing guitar and drums, staying active through fitness and sports and unwinding with great movies.</p>
            </div>
            <div class="skills">
                <div class="skills-row">
                    <div class="skills-item skills-item-cpp skills-item-fade-in">
                        <img src="./imgs/cpp.png" alt="C Plus Plus Logo">
                        <p class="skills-item-name">C++</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/UE.png" alt="Unreal Engine Logo">
                        <p class="skills-item-name">UNREAL ENGINE</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/opengl.png" alt="OpenGL Logo">
                        <p class="skills-item-name">OPENGL</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/html.png" alt="HTML5 Logo">
                        <p class="skills-item-name">HTML</p>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/python.png" alt="Python Logo">
                        <p class="skills-item-name">PYTHON</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/godot.png" alt="Godot engine Logo">
                        <p class="skills-item-name">GODOT ENGINE</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/java.png" alt="Java Logo">
                        <p class="skills-item-name">JAVA</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/git.png" alt="Git Logo">
                        <p class="skills-item-name">GIT</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/css.png" alt="CSS3 Logo">
                        <p class="skills-item-name">CSS</p>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/cSharp.png" alt="C sharp Logo">
                        <p class="skills-item-name">C#</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/unity.png" alt="Unity engine Logo">
                        <p class="skills-item-name">UNITY ENGINE</p>
                    </div>
                    <div class="skills-item skills-item-fade-in">
                        <img src="./imgs/sql.png" alt="SQL Logo">
                        <p class="skills-item-name">SQL</p>
                    </div>
                    <div class="skills-item skills-item-js skills-item-fade-in">
                        <img src="./imgs/js.png" alt="JavaScript Logo">
                        <p class="skills-item-name">JAVASCRIPT</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="projects-section" class="projects-section">
        <h2>Projects</h2>
        <div class="project project-left">
            <div class="project-image-container project1">
                <div class="project-image-image">
                    <img src="./imgs/project2.png" alt="">
                </div>
            </div>
            <div class="project-info">
                <h3 class="project-title">3D Model Viewer</h3>
                <p class="project-description">A 3D Model Viewer built with C++ and OpenGL, featuring mesh rendering, lighting, shadows, and shaders.</p>
                <a class="learn-more" href="https://github.com/IzmirRexhepi/OpenGLApp">learn more</a>
            </div>
        </div>
        <div class="project project-right">
            <div class="project-info">
                <h3 class="project-title">PetMatch</h3>
                <p class="project-description">A console-based memory game featuring animal symbols on cards, developed in C++.</p>
                <a class="learn-more" href="https://github.com/IzmirRexhepi/PetMatch">learn more</a>
            </div>
            <div class="project-image-container project2">
                <div class="project-image-image petMatch">
                    <img src="./imgs/cpp-console.png" alt="project2">
                </div>
            </div>
        </div>
        <div class="project project-left">
            <div class="project-image-container project3">
                <div class="project-image-image">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zqrSfe7vF_Q?si=437N0AEIgHIb-NGp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="project-info">
                <h3 class="project-title">Online Co-op Adventure Game</h3>
                <p class="project-description">An online co-op multiplayer game in Unreal Engine built with C++ and the Steam subsystem.</p>
            </div>
        </div>
        <div class="project project-right">
            <div class="project-info projectNexus">
                <h3 class="project-title">Project Nexus</h3>
                <p class="project-description">A local multiplayer fighting game developed in Unreal Engine using C++ and Blueprints, with motion capture used to capture the moves of a professional martial artist.</p>
            </div>
            <div class="project-image-container project4">
                <div class="project-image-image">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OZ99h9qn0Rw?si=RiV4H9PkgFWph99w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div id="return-home" class="return-home">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#fafafa" d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2 160 448c0 17.7 14.3 32 32 32s32-14.3 32-32l0-306.7L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>
        </div>
        <div class="socials">
            <a href="https://github.com/IzmirRexhepi" target="_blank">
                <div class="socials-github">
                    <img src="./imgs/github-logo.png" alt="GitHub Logo">
                </div>
            </a>
            <a href="mailto:izmir.rexhepi27@hotmail.com" target="_blank">
                <div class="socials-email">
                    <img src="./imgs/mail.png" alt="Mail Icon">
                </div>
            </a>
        </div>
        <p class="copyright">IZMIR REXHEPI ©2025</p>
    </footer>
    <script src="/script.js"></script>
</body>
</html>
